<%= simple_form_for(@post, html: { class: 'form-horizontal' }, wrapper: :horizontal_input_group) do |f| %>

  <%= f.input :title %>
  <%= f.input :body %>

  <% if current_user.is_admin? %>
    <%= f.input :author_id, collection: Author.all.map { |a| [a.name, a.id] } %>
  <% end %>
  <div class="col-sm-12 col-sm-offset-3">
    <%= f.submit "Save", class: "btn btn-success" %>
    <%= link_to "Back", posts_path, class: "btn btn-default" %>
  </div>
<% end %>
